RewriteEngine On
RewriteBase /

# Перенаправление всех запросов на index.php, если файл не существует
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# Запрет доступа к конфигурационным файлам
<FilesMatch "\.(config|ini|log|sql)$">
    Deny from all
</FilesMatch>